@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Reset default margin & padding */
body {
  @apply m-0 p-0 font-sans bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
}
